.Name {
    display: flex;
    justify-content: center;
}
.nav {
    text-decoration: underline; 
    display: flex;
    justify-content: center; 
    gap: 10px; 
    color:blue;
    font-size: 21px;
}
#skillsList {
    columns:3
}